        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <% if (locals.validation_error != undefined || locals.success_message || locals.login_error != undefined) { %>
                                            <%- include('./partials/_message')  %>
                                        <% } %>
                                        <h1 class="h4 text-gray-900 mb-2">Enter new password: </h1>
                                        <p class="mb-4">please create new password</p>
                                    </div>
                                    <form class="user" action="/reset_password" method="post">
                                        <input type="hidden" value="<%= typeof id != 'undefined' ? id : '' %>" name= "id" >
                                        <input type="hidden" value="<%= typeof token != 'undefined' ? token : '' %>" name="token">
                                        <div class="form-group">
                                            <input type="password" value="<%= typeof password != 'undefined' ? password : '' %>" name='password' class="form-control form-control-user"
                                                id="exampleInputPassword" aria-describedby="emailHelp"
                                                placeholder="Enter password...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" value="<%= typeof rePassword != 'undefined' ? rePassword : '' %>" name='rePassword' class="form-control form-control-user"
                                                id="exampleInputPassword" aria-describedby="emailHelp"
                                                placeholder="Re-Enter password...">
                                        </div>
                                        <button class="btn btn-primary btn-user btn-block">
                                            Re-Create Password
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/register">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/login">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>